
.calendar-toolbar .month-btn {
   /* width: 40px;
   aspect-ratio: 1;
   padding: 0.2rem; */
}

.weekday-name,
[class$="-day"] {
   width: 40px;
   height: 40px;
   text-align: center;
   line-height: 40px;
   font-weight: 500;
}

@media screen and (max-width: 640px) {
   .weekday-name,
[class$="-day"] {
   font-size: 12px;
   width: 30px;
   height: 30px;
   text-align: center;
   line-height: 30px;
   font-weight: 500;
}
}

.weekday-name {
   font-weight: 700;
}

.selected-day {
   background-color: #29720e;
   color: #fefefe;
   border-radius: 15px;
   font-weight: 700;
   transition: 0.5s;
   cursor: pointer;
}

.padding-day {
   color: #a5a5a5;
   user-select: none;
}

.calendar-toolbar > [class$="month-btn"]:hover,
.month-day:hover,
.btn:hover {
   border-radius: 15px;
   color: #299405;
   transition: 0.1s;
   cursor: pointer;
   box-shadow: inset 0px 0px 0px 1.5px #299405;
}
.prev-month-day,
.next-month-day {
   color: #8a8a8a;
   pointer-events: none;
}

/* .calendar-toolbar > [class$="month-btn"]:focus,
.month-day:focus,
.btn:focus {
   border-radius: 15px;
   background-color:#258b03;
   color: #f8f7fa;
} */
